@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
  background-color: #ffffff;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media print {
  .link,
  .item,
  .btn,
  nav,
  button,
  section {
    display: none;
  }
}

@layer base {
  .input {
    @apply hover:bg-[#aaa] transition duration-300 ease-in-out;
  }
  .manage {
    @apply hover:bg-[#f0f0f0] transition duration-300 ease-out cursor-pointer;
  }
}

.ad-shadow {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(200, 196, 196);
  backdrop-filter: blur(7.1px);
  border: 1px solid rgb(255, 255, 255 0.3);
  @apply p-4;
}
